///
/// Generates a JSON string with each breakpoint's value and information about
/// which of the breakpoints are currently active (i.e. viewport width >= breakpoint)
///
/// @param {String} $target-name - Name of breakpoint to evaluate
///
/// @return {String} - Resulting JSON string
///
/// @example json - For a width of 900px
///  '{"phone":{"value": "320px", "active": true}, "tablet":{"value": "768px", "active": true}, "desktop":{"value": "1024px", "active": false}}'
///
@function im-breakpoints-to-json($target-name) {
  // shadow the global variable in local scope for testability
  $breakpoints: $breakpoints;

  @if not variable-exists('im-dangerously-use-unsorted-breakpoints') {
    $breakpoints: map-sort-by-values($breakpoints);
  }

  $breakpoints-json: ();
  $target-value: map-get($breakpoints, $target-name);

  @each $name, $value in $breakpoints {
    $breakpoint: '"#{$name}":{"value": "#{$value}", "active": #{$target-value >= $value}}';
    $breakpoints-json: append($breakpoints-json, $breakpoint, 'comma');
  }

  @return '{#{$breakpoints-json}}';
}
